<!-- Footer -->
<footer class="page-footer font-small bg-dark pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h6 class="text-uppercase">Hudson Valley Advisory Group</h6>
        <p>Join the HVAG team</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h6 class="text-uppercase">Links</h6>

          <br>
          <p><a class="nav-link" href="{{ site.baseurl }}/_pages/privacy.html">Privacy</a></p>
          <p><a class="nav-link" href="{{ site.baseurl }}/_pages/terms.html">Terms of Use</a></p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h6 class="text-uppercase">Contact</h6>

          <br>
          <p><i class="fa fa-home mr-3"></i> Poughkeepsie, NY 12601, US</p>

          <p><a class="link-dull" href="mailto:advisor@hvadvisorygroup.com?Subject=Contact">
          <i class="fa fa-envelope mr-3"></i>advisor@hvadvisorygroup.com</a></p>

          <p><i class="fa fa-phone mr-3"></i> 845.827.5331</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="{{ site.baseurl }}">Hudson Valley Advisory Group</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
