@import "variables";

.hvaglayout {
    padding-top: 80px;
}

.hvag-h1 {
    font-size: 2.5rem;
    line-height: 2.8125rem
}

.hvag-medium.hvag-h1 {
    font-size: 3.125rem;
    line-height: 3.4375rem
}

.hvag-large.hvag-h1 {
    font-size: 3.75rem;
    line-height: 4.0625rem
}

.hvag-h2 {
    font-size: 1.875rem;
    line-height: 2.1875rem
}

.hvag-post-h1 {
    font-family: $helveticaNeue;
    color: $darkerGray;
    font-weight: bold;
}

.posts > .post {
    padding-bottom: 2em;
    border-bottom: 1px solid $lightGray;
}
  
.posts > .post:last-child {
    padding-bottom: 1em;
    border-bottom: none;
}

.post {
    blockquote {
        margin: 1.8em .8em;
        border-left: 2px solid $gray;
        padding: 0.1em 1em;
        color: $gray;
        font-size: 22px;
        font-style: italic;
    }

    .comments {
        margin-top: 10px;
    }
    
    .read-more {
        text-transform: uppercase;
        font-size: 15px;
    }
}
